:root {
  --color-main-black: #161718;
  --color-main-white: #fff;
  --color-main-blue: #005eb8;
  --color-main-yellow: #ffd100;
  --color-main-gray: #3d3e3f;
  --color-footer-gray: #8d8d8d;
  --color-hover-blue: #003f77;

  --font-weight-bold: 700;

  --font-size-biggest: 40px;
  --font-size-big: 32px;
  --font-size-middle: 24px;
  --font-size-small: 16px;

  --margin-right-main-btn: 20px;
}


html, body {
  overflow-x: hidden;  /* 가로 스크롤 제거 */
  width: 100%; /* 가로 너비 제한 */
  /* height: 100%; */
}

header {
  /* background-color: darkseagreen; */
}



.header-inner, .main-section-inner, .footer-inner {
  width: 1200px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: var(--color-main-black);
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  border: none;
  background-color: transparent;
  padding: 0;
}


/* 공통 */
.section-title {
  display: inline-block;
  position: relative;
  font-size: var(--font-size-middle);
  color: var(--color-main-blue);
}

.section-title:after {
  position: absolute;
  content: '';
  width: 400px;
  height: 1px;
  background-color: var(--color-main-blue);
  bottom: -10px;
  right: 0;
}

.big-title {
  font-size: var(--font-size-biggest);
  line-height: 55px;
}

.content-text {
  font-size: var(--font-size-small);
  line-height: 25px;
}

.main-section-inner {
  height: 100%;
}

/* 글자  투명하게 */
.text-hide {
  font-size: 0;
}

/* 버튼 디자인 */
.btn-blue, .btn-transparent, .btn-white {
  display: block;
  text-align: center;
  line-height: 48px;
  width: 180px;
  height: 48px;
  font-size: 15px;
  font-weight: var(--font-weight-bold);
  border-radius: 4px;
}

.btn-blue {
  background-color: var(--color-main-blue);
  color: var(--color-main-white);
  border: 1px solid var(--color-main-blue);
}

.btn-white {
  background-color: var(--color-main-white);
  color: var(--color-main-blue);
  border: 1px solid var(--color-main-blue);
}

.btn-transparent {
  background-color: transparent;
  color: var(--color-main-white);
  border: 1px solid var(--color-main-white);
}

/* 더보기 화살표 */
.more-btn-arrow {
  position: relative;
  border-bottom: 1px solid var(--color-main-black);
  padding-bottom: 6px;
}

.more-btn-arrow:after {
  content: '';
  width: 1px;
  height: 12px;
  background-color: var(--color-main-black);
  position: absolute;
  right: 4px;
  bottom: -2px;
  transform: rotate(-45deg);
}

.more-btn-arrow a {
  font-size: 14px;
  font-weight: var(--font-weight-bold);
  padding: 0 50px 6px 0;
}

/* btn hover */
.btn-hv-bluetxt, .btn-hv-bluetxt:hover,
.btn-hv-blueback, .btn-hv-blueback:hover,
.btn-hv-translate, .btn-hv-translate:hover,
.btn-hv-whiteback, .btn-hv-whiteback:hover {
  transition: 0.3s;
}

.btn-hv-bluetxt:hover {
  color: var(--color-hover-blue);
  border-color: var(--color-hover-blue);
  transition: 0.3s;
}

.btn-hv-blueback:hover {
  background-color: var(--color-hover-blue);
  border-color: var(--color-hover-blue);
}

.btn-hv-translate:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.btn-hv-whiteback:hover {
  background-color: var(--color-main-white);
}