/* ######################## scroll-animation start ######################## */
.scroll-animation {
  position: fixed;
  bottom: 180px;
  left: 30px;
  color: #205eac;
  display: flex;
  transform: rotateZ(-90deg);
  align-items: center;
  gap: 15px;
}

.scroll-animation-inner {
  width: 100%;
  height: 100%;
  position: relative;
}

.scroll-animation .more-btn-arrow {
  position: absolute;
  bottom: 5px;
  left: -80px;
  padding: 0;
  width: 60px;
  border-color: #205eac;
  animation-name: scrollAnimation;
  animation-duration: 1s;
  animation-direction: normal;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.scroll-animation span {
  font-weight: var(--font-weight-bold);
  font-size: 13px;
}

.scroll-animation .more-btn-arrow:after {
  left: 4px;
  transform: rotate(45deg);
  height: 10px;
}

@keyframes scrollAnimation {
  0% {
    left: -80px;
  }
  50% {
    left: -90px;
  }
  100% {
    left: -80px;
  }
}
/* ######################## scroll-animation end ######################## */

/* ######################## fix-newsletter start ######################## */
.fix-newsletter {
  display: none;
  width: 570px;
  position: fixed;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  background-color: var(--color-main-white);
  z-index: 99;
  text-align: center;
  padding: 20px 0;
  box-shadow: 2px 2px 6px 2px rgb(102 102 102 / 65%);
}

.newletter-close {
  background-image: url(images/btn_top_ad_close_type_blue.png);
  width: 15px;
  height: 15px;
  background-size: 15px 15px;
  background-repeat: no-repeat;
  padding: 5px;
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
}

.fix-newsletter-inner {
  position: relative;
}

.newletter-icon {
  background-image: url(images/icon_newsletter.png);
  width: 34px;
  height: 27px;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-bottom: 20px;
}

.fix-newsletter-inner span {
  font-weight: var(--font-weight-bold);
  color: var(--color-main-black);
}

.newsletter-btn-container {
  margin: 20px 0;
}

.newsletter-btn-container button {}

.newsletter-btn-container button:first-child {
  margin-right: 20px;
}

.fix-newsletter-inner p {
  color: #9d9c9c;
  margin: 0;
}
/* ######################## fix-newsletter end ######################## */

/* ######################## fix-nav start ######################## */
.fix-nav {
  display: none;
  position: fixed;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  background-color: var(--color-main-blue);
  width: 550px;
  z-index: 99;
  padding: 10px 0;
  border-radius: 30px;
  box-shadow: 2px 2px 6px 2px rgb(102 102 102 / 65%);
}

.fix-nav-inner {
  margin: 0;
  display: flex;
  padding: 0;
  justify-content: center;
}

.fix-nav-item {
  width: 30%;
}

.fix-nav-item a {
  text-align: center;
}

.fix-nav-icon {}
.fix-nav-icon img {
  height: 60px;
}

.fix-nav-item span {
  margin-top: 7px;
  display: block;
  color: var(--color-main-white);
  font-weight: var(--font-weight-bold);
}
/* ######################## fix-nav end ######################## */

/* ######################## header start ######################## */
header {}

.header {
  width: 100%;
  height: 110px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

header a {}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.header-logo a {
  display: block;
}

.header-logo img {
  width: 144px;
  height: 54px;
}

.gnb-container {
  display: flex;
  align-items: center;
}

.gnb-container li a {
  color: var(--color-main-white);
  font-weight: var(--font-weight-bold);
}

.gnb-list {}

.gnb-item {
  display: inline-block;
  font-size: 18px;
  margin-right: 60px;
}

.gnb-item a {}

.gnb-icon-list {
  display: flex;
  align-items: center;
  gap: 5px;
}

.gnb-icon-item {
  padding: 5px 15px;
}

.gnb-icon-item:not(:first-child) a {
  display: block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.btn-direct-sponsorship {
  width: 140px;
}

.btn-ham-menu {
  background-image: url(images/btn_allmenu.png);
}

.btn-mypage {
  background-image: url(images/btn_mypage.png);
}

.btn-heart {
  background-image: url(images/btn_cart.png);
}

/* s : header-scroll-inner */
.header-scroll {
  background-color: var(--color-main-white);
  display: none;
}

.header-scroll .gnb-item a {
  color: var(--color-main-black);
}

.header-scroll .btn-ham-menu {
  background-image: url(images/btn_allmenu_active.png);
}

.header-scroll .btn-mypage {
  background-image: url(images/btn_mypage_active.png);
}

.header-scroll .btn-heart {
  background-image: url(images/btn_cart_active.png);
}
/* e : header-scroll-inner */

/* s : gnb-sub */
.gnb-sub-list {
  background-color: var(--color-main-white);
  margin: 0;
  padding: 0;
  border-top: 1px solid #e0e0e0;
  display: none;
}

.gnb-sub-item {
  width: 1200px;
  margin: 0 auto;
  display: none;
}

.gnb-sub-item-inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 40px 0;
}

.gnb-sub-title {
  width: 270px;
}

.gnb-sub-title b {
  font-size: var(--font-size-middle);
}

.gnb-sub-title p {
  color: var(--color-footer-gray);
  font-size: 14px;
  line-height: 20px;
  margin-top: 20px;
}

.gnb-sub-category {
  padding: 0;
  flex-grow: 1;
}

.gnb-sub-category li {
  font-size: 18px;
  margin-bottom: 30px;
}

.gnb-sub-category li:last-child {
  margin-bottom: 0;
}

.gnb-sub-category li a:hover {
  color: var(--color-main-blue);
}

.gnb-sub-category li a {
  color: var(--color-main-gray);
}

.gnb-sub-banner {
  width: 270px;
  height: 360px;
  overflow: hidden;
  border-left: 1px solid #e6e6e6;
  padding-left: 90px;
}

.gnb-sub-banner img {
  width: 100%;
}
/* e : gnb-sub */

/* ######################## header end ######################## */

/* ######################## main start ######################## */
main {}
/* s : #mainBannerSection.main-section01 */
#mainBannerSection {}
.banner-btn-left {}
.banner-btn-right {}
.main-banner-container {
  width: 100vw;
  height: 856px;
  position: relative;
}

.main-banner-list {
  position: absolute;
  top: 0;
  left: 0;
}

.main-banner-item {
  float: left;
}
.main-banner-item a {
  display: block;
}
.main-banner-item:nth-child(1) a {
  background-image: url(images/main-banner01.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 0;
  width: 100%;
  height: 856px;
}
.main-banner-item:nth-child(2) a {}
.main-banner-item:nth-child(3) a {}
.main-banner-item:nth-child(4) a {}
/* e : #mainBannerSection.main-section01 */

/* s : #introChildSection.main-section02 */
.main-section-wrap {
  /* background-image: url(images/bg_main_line_top.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0; */
}
#introChildSection {
  position: relative;
  height: 800px;
  margin-top: 30px;
}

#introChildSection:before {
  content: '';
  width: 489px;
  height: 508px;
  background: url(images/bg_main_circle_object_01.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  bottom: -82px;
  right: -5px;
  z-index: -1;
}

#introChildSection:after {
  content: '';
  width: 1153px;
  height: 565px;
  background-color: #f4f7fb;
  position: absolute;
  left: 0;
  bottom: 65px;
  z-index: -1;
}

.intro-child-txt {
  float: left;
  margin-top: 70px;
}

.intro-child-title {}
.intro-child-name {
  margin: 60px 0 30px;
}

.intro-child-name span {
  color: var(--color-main-blue);
}

.intro-child-content {
  color: #3d3e3f;
  margin-bottom: 60px;
}

.intro-child-btn-container {}
.intro-child-btn-container button {
  box-shadow: 0 16px 20px 0 rgba(0, 0, 0, 0.08);
}

.btn-see-detail {
  margin-right: var(--margin-right-main-btn);
}
.btn-support {}

.intro-child-img-container {
  float: right;
  width: 485px;
  position: relative;
}

.intro-child-img-container img {
  max-width: 100%;
}
.intro-child-img {}
.intro-child-more {
  position: absolute;
  bottom: -20px;
  right: 0;
}
/* e : #introChildSection.main-section02 */

/* s : #UseDonationSection.main-section03 */
#UseDonationSection {
  position: relative;
  margin-top: 50px;
}

#UseDonationSection:before {
    content: '';
    background-color: #D8ECF1;
    height: 650px;
    width: 85%;
    position: absolute;
    bottom: -55px;
    left: 0;
    z-index: -1;
}

#UseDonationSection .main-section-inner {
  position: relative;
}

#UseDonationSection .main-section-inner:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 390px;
  background-color: var(--color-main-blue);
  top: 60px;
  left: 0;
  z-index: -1;
}

.d-percent-container {}

.d-percent-img-box {
  float: left;
  width: 432px;
  height: 432px;
  background-image: url(images/img_sponsorship_percent.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  margin: 0 50px 0 50px;
}

.d-percent-txt-box {
  padding-top: 80px;
}
.d-percent-title {
  margin-bottom: 30px;
  color: var(--color-main-white);
}

.d-percent-content {
  color: #bbdde6;
}

.d-percent-btn-box {
  margin-top: 35px;
}
.btn-see-detail {}
.btn-report {}

.donation-honest-container {
  padding-top: 100px;
}

.d-honest-title {
  color: var(--color-main-blue);
}

.d-honest-content {
  width: 580px;
}
.d-honest-cerficicate-list {
  margin-top: 55px;
  display: flex;
  align-items: center;
  text-align: center;
  gap: 25px;
  padding: 0;
}

.d-honest-cerficicate-item {
  width: 180px;
  height: 180px;
  background-color: var(--color-main-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.d-honest-img-box {
  width: 100%;
  height: 88px;
  background-repeat: no-repeat;
  background-size: contain;
}

.charity-navigator-img {
  background-image: url(images/img_certificate_logo1.png);
}

.transparency-award-img {
  background-image: url(images/img_certificate_logo3.png);
}

.charity-watch-top-img {
  background-image: url(images/img_certificate_logo5.png);
}
.d-hoest-cerf-txt {
  text-align: center;
  font-size: 12px;
  line-height: 18px;
  margin: 10px 0 0;
}
/* e : #UseDonationSection.main-section03 */

/* s : #yourSupportSection.main-section04 */
#yourSupportSection {
  margin-top: 200px;
}
#yourSupportSection .main-section-inner {}

.your-support-title {}

.your-support-txt {}

.support-slide-container {
  margin: 150px 0 105px;
  position: relative;
}

.support-slide-container:before {
  content: '';
  background-image: url(images/bg_special_object.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  width: 538px;
  height: 728px;
  position: absolute;
  top: -80px;
  left: -200px;
  z-index: -1
}

.support-slide-list {
  padding: 0;
}

.support-slide-item {
  width: 384px;
  height: 559px;
  background-image: url(images/img_child_0.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0;
  position: relative;
}

.support-slide-item-inner {
  position: absolute;
  top: 280px;
  left: 50%;
  transform: translateX(-50%);
}

.support-slide-title {
  font-size: var(--font-size-big);
  margin: 0;
  color: var(--color-main-white);
}

.support-slide-txt {
  font-size: var(--font-size-small);
  color: #e0e0e0;
}

.support-btn-container {
  display: flex;
}

.support-btn:first-child {
  margin-right: 10px;
}

.support-btn:first-child a {
  width: 145px;
}

.support-btn:last-child a {
  width: 165px;
}

.support-btn .btn-transparent {}
.support-btn .btn-blue {}

.support-slide-move {}

.support-slide-move button {
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.support-slide-move .prev {
  background-image: url(images/btn_swipe_left_arrow.png);
  margin-right: 15px;
}

.support-slide-move .next {
  background-image: url(images/btn_swipe_right_arrow.png);
}
/* e : #yourSupportSection.main-section04 */

/* s : #WhenIGrowSection.main-section05 */
#WhenIGrowSection {
  position: relative;
}

#WhenIGrowSection:after {
  content: '';
  background-image: url(images/bg_main_line_mid.png);
  width: 100%;
  height: 1198px;
  background-repeat: no-repeat;
  background-position: center top;
  position: absolute;
  bottom: -485px;
  left: 0;
  z-index: 1;
}

#WhenIGrowSection:before {
  content: '';
  width: 86%;
  height: 728px;
  background: #d8ecf1;
  position: absolute;
  z-index: -1;
  top: 370px;
  left: 0;
}

#WhenIGrowSection .main-section-inner {
  margin-top: 200px;
}

.section05-title {
  position: relative;
}

.section05-title:after {
  content: '';
  background-image: url(images/bg_txt_whenigrowup.png);
  width: 1245px;
  height: 254px;
  background-repeat: none;
  background-position: 0 0;
  background-size: 100%;
  position: absolute;
  top: -80px;
  right: -480px;
}

.section05-subtitle {
  font-size: var(--font-size-middle);
}

.child-interview-box {
  margin: 100px 0 0 190px;
}

.child-interview-box img {}

.welove-list {
  display: flex;
  justify-content: space-between;
  gap: 25px;
  margin-top: 60px;
}

.welove-item {
  background-color: var(--color-main-white);
  padding: 200px 35px 40px;
  background-repeat: no-repeat;
  background-size: auto 120px;
  background-position: top 40px right 40px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.15);
}

/* .welove-item-inner {
  margin-top: 150px;
} */

.welove-item:nth-child(1) {
  background-image: url(images/img_love_jesus.png);
}

.welove-item:nth-child(2) {
  background-image: url(images/img_love_children.png);
}

.welove-item:nth-child(3) {
  background-image: url(images/img_love_church.png);
}

.welove-item-title {
  font-family: 'Montserrat', sans-serif;
  font-size: var(--font-size-big);
  color: var(--color-main-blue);
  text-transform: uppercase;
  line-height: 40px;
}

.welove-item-txt {
  font-size: var(--font-size-small);
  line-height: 30px;
  margin-top: 20px;
}
/* e : #WhenIGrowSection.main-section05 */

/* s : #storySection.main-section06 */
#storySection {
  margin-top: 150px;
  position: relative;
}

#storySection:after {
  content: '';
  background-image: url(images/bg_main_line_bot.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 2550px;
  height: 889px;
  position: absolute;
  bottom: -600px;
  right: -500px;
  z-index: -1;
}

.story-title {}
.section06-title {}
.story-content-container {}

.raise-series-box {
  position: relative;
}

.raise-series-box:before {
  content: '';
  background-image: url(images/bg_half_circle_object.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 393px;
  height: 324px;
  position: absolute;
  bottom: 75px;
  left: -250px;
}

.raise-seires-img {
  width: 792px;
  height: 480px;
  overflow: hidden;
  position: relative;
}

.raise-seires-img img {
  position: absolute;
  top: -80px;
  left: 0;
  width: 100%;
}

.story-content-txt {
  width: 480px;
  height: 480px;
  background-color: red;
  position: relative;
}

.story-content-txt-inner {
  padding: 40px;
}

.story-content-txt b {
  font-size: var(--font-size-big);
  position: relative;
  line-height: 45px;
  word-break: keep-all;
}

.story-content-txt b:after {
  content: '';
  width: 56px;
  height: 4px;
  background-color: blue;
  position: absolute;
  left: 0;
  bottom: -30px;
}

.story-content-txt p {
  font-size: var(--font-size-small);
  line-height: 24px;
  margin: 60px 0 30px;
}

.story-content-btn {
  position: absolute;
  left: 40px;
  bottom: 40px;
}
.story-content-txt button {}

.raise-series-txt {
  position: absolute;
  right: 0px;
  bottom: -55px;
  background-color: var(--color-main-blue);
  box-shadow: 0px 6px 14px -2px rgba(0, 0, 0, 0.25);
}


.raise-series-txt b {
  color: var(--color-main-white);
}

.raise-series-txt b:after {
  background-color: var(--color-main-yellow);
}

.raise-series-txt p {
  color: #bbdde6;
}

.raise-series-txt button {}
.challenge-trip-box {
  position: relative;
  margin-top: 150px;
}

.challenge-trip-box:before {
  content: '';
  position: absolute;
  bottom: -90px;
  left: -70px;
  background-image: url(images/bg_txt_ourstory.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 673px;
  height: 248px;
}

.challenge-trip-box:after {
  content: '';
  background-image: url(images/bg_main_circle_object_02.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 489px;
  height: 622px;
  position: absolute;
  bottom: -290px;
  right: -65px;
  z-index: -2;
}

.challenge-trip-txt {
  background-color: var(--color-main-yellow);
  box-shadow: 0px 6px 14px -2px rgba(0, 0, 0, 0.25);
}

.challenge-trip-txt b {}

.challenge-trip-txt b:after {
  background-color: var(--color-main-blue);
}
.challenge-trip-txt hr {}

.challenge-trip-txt p {
  color: var(--color-main-gray);
}

.challenge-trip-txt .btn-transparent {
  border: 1px solid var(--color-main-gray);
  color: var(--color-main-gray);
}

.challenge-trip-img {
  position: absolute;
  top: -25px;
  right: 0;
  z-index: -1;
  width: 792px;
  height: 480px;
  overflow: hidden;
}

.challenge-trip-img img {
  width: 100%;
}
/* e : #storySection.main-section06 */

/* s : #quickLinksection.main-section07 */
#quickLinksection {
  background-color: #f4f7fb;
  padding: 50px 50px;
  margin-top: 200px;
}

.quick-link-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.quick-link-item {
  width: 384px;
  height: 288px;
  background-color: blue;
  background-repeat: no-repeat;
  background-size: 40px 40px;
  background-position: top 43px right 40px;
}

.quick-link-item a {
  color: var(--color-main-white);
  display: block;
  padding: 50px 30px;
}

.quick-link-item b {
  font-size: var(--font-size-middle);
}

.quick-link-item p {
  color: #71b2c9;
  font-size: var(--font-size-small);
  margin: 30px 0 60px;
  line-height: 24px;
}

.quick-link-item .more-btn-arrow {
  border-color: var(--color-main-white);
  padding-right: 40px;
  font-size: 14px;
  font-weight: var(--font-weight-bold);
}

.quick-link-item .more-btn-arrow:after {
  background-color: var(--color-main-white);
}

.quick-link-item:nth-child(1) {
  background-color: #0086bf;
  background-image: url(images/icn_business.png);
}

.quick-link-item:nth-child(2) {
  background-color: #005eb8;
  background-image: url(images/icn_church.png);
}

.quick-link-item:nth-child(3) {
  background-color: #003f77;
  background-image: url(images/icn_main_store.png);
}

/* e : #quickLinksection.main-section07 */
/* ######################## main end ######################## */

/* ######################## footer start ######################## */
footer {
  background-color: #3a3a3a;
  color: var(--color-footer-gray);
}
.footer-inner {}
.ft-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ft-nav-list {
  display: flex;  
  gap: 40px;
  padding: 0;
}

.ft-nav-item {
  position: relative;
}

.ft-nav-item:not(:last-child):after {
  content: '';
  width: 2px;
  height: 15px;
  background-color: #707070;
  position: absolute;
  right: -20px;
  bottom: 0;
}

.ft-nav-item a {
  color: var(--color-footer-gray);
  font-size: 14px;
}

.ft-nav-item a:hover {
  color: var(--color-main-white);
}

.ft-worldwide {
  font-size: 14px;
  width: 248px;
  height: 56px;
  border-right: 1px solid #4c4e51;
  border-left: 1px solid #4c4e51;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ft-worldwide button {
  color: var(--color-footer-gray);
  position: relative;
  padding-right: 60px;
  cursor: pointer;
}

.ft-worldwide button:after {
  content: '';
  background-image: url(images/btn_worldwide_plus.png);
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 16px;
  height: 16px;
}

footer hr {
  border: none;
  border-bottom: 1px solid #4c4e51;
  margin: 0;
}

.ft-btm {
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.ft-logo {}

.ft-info {
  flex-grow: 1;
  margin-left: 100px;
}

.ft-info b, .ft-info span {
  display: block;
  font-size: 14px;
  line-height: 20px;
}

.ft-name {
  color: var(--color-main-white);
}


.ft-address, .ft-ceo {
  margin-bottom: 10px;
}

.ft-address {}

.ft-biznum {}

.ft-ceo {}

.ft-tell {}

.ft-email a {
  color: var(--color-footer-gray);
}

.ft-copyright {
  margin-top: 30px;
}

.ft-sns-list {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.ft-sns-item a {
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
}

.ft-youtube a {
  background-image: url(images/btn_footer_youtube.png);
  width: 32px;
  height: 20px;
}

.ft-insta a {
  background-image: url(images/btn_footer_instagram.png);
  width: 20px;
  height: 20px;
}

.ft-facebook a {
  background-image: url(images/btn_footer_facebook.png);
  width: 11px;
  height: 20px;
}

.ft-blog a {
  background-image: url(images/btn_footer_naverblog.png);
  width: 23px;
  height: 20px;
}

.ft-kakao a {
  background-image: url(images/btn_footer_kakaoch.png);
  width: 20px;
  height: 20px;
}

.ft-naver a {
  background-image: url(images/btn_footer_naverpost.png);
  width: 15px;
  height: 20px;
}

.ft-happybean a {
  background-image: url(images/btn_footer_happybean.png);
  width: 18px;
  height: 20px;
}
/* ######################## footer start ######################## */